.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:200px;
}

.row-footer{
    background-color: #424242;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: #FFFFFF;
}

.address-font{
    color: #FFFFFF;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.jumbotron {
  margin-bottom: 0px;
  height: 400px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:url('../images/remoteasianvillage.jpg') no-repeat center center;
}

.jumbotron-experience {
  margin-bottom: 0px;
  height: 400px;
  width: 100%;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:url('../images/ActivityImageForJumbotron.png') no-repeat center center;
}

.search-box-text {
    color: gray;
    width: 300px;
}

.language-list{
    list-style-type: none;
}

/*
.activity_one_image {
    background: url('../images/ActivityImage.png') no-repeat center center;
    position: fixed;
    width: 200px;
    height: 100px;
}
*/

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
     background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}
